@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0a0d14;
  --primary-color-light: #20242f;
  --secondary-color: #f49e09;
  --extra-light: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lisu Bosa", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sectionContainer {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.sectionHeader {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800;
  font-family: var(--header-font);
  text-align: center;
}

.sectionSubheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.headerBtn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: #1b6f1b;
  cursor: pointer;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
    color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--primary-color);
}

header {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
  url("assets/images/forrestBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 82%;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid var(--extra-light);
}

.navBar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.navLogo a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.navLinks {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link {
  position: relative;
}

.link a {
  padding: 1.5rem 5px;
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
}

.link a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.link span {
  padding: 1rem 0;
  color: var(--white);
  cursor: pointer;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  list-style: none;
  padding: 1rem;
  margin: 0;
  z-index: 1000;
}

.dropdownMenu .dropdownLink {
  padding: .05rem 0;
}

.dropdownMenu .dropdownLink a {
  color: var(--white);
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}

.dropdownMenu .dropdownLink a:hover {
  color: var(--secondary-color);
}

.link:hover .dropdownMenu {
  display: block;
}
