<section class="gallery" id="gallery">
    <div class="galleryContainer">
      <h2 class="sectionHeader">Gallery Photos</h2>
      <p class="sectionSubheader">
        The world is beautiful.
      </p>
      <div class="galleryGrid">
        <div class="galleryCard">
          <img src="assets/images/zion.jpg" alt="Zion National Park" />
          <div class="galleryContent">
            <h4>Zion National Park</h4>
            <p>Utah</p>
          </div>
        </div>
        <div class="galleryCard">
          <img src="assets/images/stAugustine.jpg" alt="St Augustine, Florida" />
          <div class="galleryContent">
            <h4>St Augustine</h4>
            <p>Florida</p>
          </div>
        </div>
        <div class="galleryCard">
          <img src="assets/images/capitolReef.JPG" alt="Capitol Reef National Park" />
          <div class="galleryContent">
            <h4>Capitol Reef National Park</h4>
            <p>Utah</p>
          </div>
        </div>
        <div class="galleryCard">
          <img src="assets/images/olympic.JPG" alt="Olympic National Park" />
          <div class="galleryContent">
            <h4>Olympic National Park</h4>
            <p>Washington</p>
          </div>
        </div>
        <div class="galleryCard">
          <img src="assets/images/twinFalls.JPG" alt="Twin Falls" />
          <div class="galleryContent">
            <h4>Twin Falls</h4>
            <p>Idaho</p>
          </div>
        </div>
    </div>
    </div>
    <button class="galleryBtn">
        <a href="gallery.html">See More <i class="ri-arrow-right-line"></i></a>
      </button>
  </section>