<section class="about" id="about">
    <div class="sectionContainer aboutContainer">
      <div class="aboutContent">
        <h2 class="sectionHeader">About</h2>
        <p class="sectionSubheader">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae eros et libero blandit congue. Sed iaculis metus at risus scelerisque sagittis. Aenean aliquet ex id tempor malesuada. Nulla facilisi. Nulla ut turpis nec tellus egestas posuere. In scelerisque finibus quam vel tristique. Fusce dictum nibh vel felis sollicitudin, quis feugiat neque consectetur. Nam vel tincidunt magna. Aenean molestie arcu id ex euismod gravida.
        <div class="aboutFlex">
          <div class="aboutCard">
            <h4>20</h4>
            <p>Completed Trips</p>
          </div>
          <div class="aboutCard">
            <h4>7</h4>
            <p>National Parks</p>
          </div>
          <div class="aboutCard">
            <h4>3</h4>
            <p>Countries</p>
          </div>
        </div>
        <button class="aboutBtn">
          Read More <i class="ri-arrow-right-line"></i>
        </button>
      </div>
    </div>
  </section>