<section class="discover" id="discover">
    <div class="sectionContainer discoverContainer">
      <h2 class="sectionHeader">Discover unique locations</h2>
      <p class="sectionSubheader">
        It's about the destination
      </p>

      <div class="discoverGrid">
        <div class="discoverCard">
          <div class="discoverImage">
            <img src="../assets/images/grandTetons.JPG" alt="Grand Teton National Park" />
          </div>
          <div class="discoverCardContent">
            <h4>Tetons</h4>
            <p>
                From the rugged trails, pristine waters, and panoramic 
                vistas, the Tetons invites you to the heart of the American wilderness.
            </p>
            <button class="discoverBtn">
              Discover More <i class="ri-arrow-right-line"></i>
            </button>
          </div>
        </div>

        <div class="discoverCard">
          <div class="discoverImage">
            <img src="../assets/images/bryceCanyon.JPG" alt="Bryce Canyon National Park" />
          </div>
          <div class="discoverCardContent">
            <h4>Bryce Canyon</h4>
            <p>
                Discover the beauty of Bryce Canyon,
                where vibrant red rock formations, towering hoodoos, and vast, 
                star-filled skies create an otherworldly landscape.
            </p>
            <button class="discoverBtn">
              Discover More <i class="ri-arrow-right-line"></i>
            </button>
          </div>
        </div>

        <div class="discoverCard">
          <div class="discoverImage">
            <img src="../assets/images/puertoRico.JPG" alt="Puerto Rico" />
          </div>
          <div class="discoverCardContent">
            <h4>Puerto Rico</h4>
            <p>
            Visit the vibrant beauty of Puerto Rico, where lush rainforests, 
            pristine beaches, and historic architecture create a captivating 
            paradise. 
            </p>
            <button class="discoverBtn">
              Discover More <i class="ri-arrow-right-line"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>