<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css">


<header id="home">

    
    <nav>
        <div class="navBar">
            <div class="navLogo"><a href="#"> Kearmi.</a></div>
            <ul class="navLinks">
                <li class="link dropdown">
                    <a href="#home">Home</a>
                    <ul class="dropdownMenu">
                        <li class="dropdownLink"><a href="#gallery">Gallery</a></li>
                        <li class="dropdownLink"><a href="#discover">Discover</a></li>
                        <li class="dropdownLink"><a href="#about">About</a></li>
                    </ul>
                </li>
                <li class="link dropdown">
                    <a routerLink="/destination">Destinations</a>
                    <ul class="dropdownMenu">
                        <li class="dropdownLink"><a href="/destination#destinations">Stats</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="sectionContainer headerContainer">
        <h1> 
            Enjoy the Journey
        </h1>
        <h4>
            Explore the colorful world.
        </h4>
        <button class="headerBtn">
            <a href="/destination">Explore <i class="ri-arrow-right-line"></i></a>
        </button>
    </div>
    
</header>